@model IEnumerable<Fashion.Models.FAQ>

@{
    ViewData["Title"] = "Index";
}

<h1>FAQ</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IsGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRelatedToPro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IsGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRelatedToPro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
