@model IEnumerable<Fashion.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

<h1>Slider List</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderTitle)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.SliderText)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderTitle)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.SliderText)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.SliderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SliderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SliderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
